.lucky-egg {
    .pokemon-name-switch {
        font-size: 14px;
    }

    .optimization-result {
        margin-top: 20px;
        font-size: 16px;

        .optimization-result-title {
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .optimization-step {

            margin-bottom: 20px;

            .optimization-step-title {
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .optimization-step-subtitle {
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

}
